# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
cache/
files/
sites/*/files
sites/*/private
sites/*/.filecache

# Ignore robots.txt which may differ between environments
robots.txt

# Ignore sitemap.xml in case it's an actual file
sitemap.xml

# Ignore .ftpquota file
.ftpquota