.nivoSlider.hide-dircontrols .nivo-directionNav {
  display: none;
}
.nivoSlider a.nivo-imageLink {
  border:0;
  display:block;
  background-color: #fff;
  filter:alpha(opacity=0);
  opacity: 0;
  -webkit-opacity:0;
  -moz-opacity:0;
  -khtml-opacity:0;
}