/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
html {
  overflow-x: hidden;
  font-size: 62.5%;
}
body {
  color: #333;
  font: normal 10px/120% 'Open Sans', sans-serif;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
}
body .container-24 {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

body .container-24 .grid-24 {
  margin: 0;
  max-width: 100%;
}

.container-24,
.container-24 .grid-24 {  
  background-color: #f7f7f7;
}
body .container-24 .grid-24 > .region-inner {
  margin: auto;
}
/* Lila header */
#zone-user,
#zone-user > .region {
  width: 100%;
  margin: 0;
}
#region-user-first {
  background: #db6cff;
}
#region-user-first a {
  color: #fff;
  text-decoration: none;
}
#region-user-first a:hover {
  text-decoration: underline;
}
#block-superfish-3 {
  display: none;
}
#block-language-switcher-select-block-0 {
  display: none;
}
#block-login-block-0 {
  padding: 14px 20px;
  text-align: right;
}
#block-login-block-0 a {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
/* Vit header */
#region-user-second {
  background: #fff;
  padding: 36px 0 14px;
  display: inline-block;
  width: 100%;
}
/* Huvudmeny (jump menu) */
#block-superfish-1 {
  padding: 0 37px 0 17px;
  float: left;
}
#superfish-1-select {
  background: transparent url(../images/menu_icon.png);
  width: 30px;
  height: 23px;
  border: 0;
  text-indent: -9999px;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* Logo */
#block-logo-block-logo {
  width: 120px;
  float: left;
}
#block-logo-block-logo img {
  display: block;
  margin: auto;
  max-width: 120px;
  max-height: 23px;
}
#block-login-block-1 {
  display: none;
}
/* ------- Sociala länkar ------ */
#block-block-3 {
  float: right;
}
.social-links .social-link-wrapper {
  display: inline-block;
  padding: 0 8px;
}
.social-links .social-links-facebook-wrapper {
  position: relative;
  padding-right: 10px;
}
.social-links .social-links-facebook-wrapper .social-links-divider {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  width: 2px;
  height: 24px;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 17%, rgba(160,160,160,0.28) 22%, rgba(160,160,160,0.5) 26%, rgba(160,160,160,0.5) 74%, rgba(160,160,160,0.38) 78%, rgba(255,255,255,0) 83%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(17%,rgba(255,255,255,0)), color-stop(22%,rgba(160,160,160,0.28)), color-stop(26%,rgba(160,160,160,0.5)), color-stop(74%,rgba(160,160,160,0.5)), color-stop(78%,rgba(160,160,160,0.38)), color-stop(83%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 17%,rgba(160,160,160,0.28) 22%,rgba(160,160,160,0.5) 26%,rgba(160,160,160,0.5) 74%,rgba(160,160,160,0.38) 78%,rgba(255,255,255,0) 83%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 17%,rgba(160,160,160,0.28) 22%,rgba(160,160,160,0.5) 26%,rgba(160,160,160,0.5) 74%,rgba(160,160,160,0.38) 78%,rgba(255,255,255,0) 83%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 17%,rgba(160,160,160,0.28) 22%,rgba(160,160,160,0.5) 26%,rgba(160,160,160,0.5) 74%,rgba(160,160,160,0.38) 78%,rgba(255,255,255,0) 83%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 17%,rgba(160,160,160,0.28) 22%,rgba(160,160,160,0.5) 26%,rgba(160,160,160,0.5) 74%,rgba(160,160,160,0.38) 78%,rgba(255,255,255,0) 83%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );

}
.social-links a {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.social-links-facebook {
  background: transparent url(../images/facebook.png) no-repeat center center;
}
.social-links-twitter {
  background: transparent url(../images/twitter.png) no-repeat center center;
}
/* Bildspel herobild*/
#block-views-bildspel-block {
  height: 340px;
}
#views_slideshow_cycle_teaser_section_bildspel-block {
  width: 100% !important;
}
#views_slideshow_cycle_teaser_section_bildspel-block .views_slideshow_cycle_slide {
  width: 100% !important;
}
#zone-branding .page-title {
  position: absolute;
  bottom: 170px;
  width: 100%;
  text-align: center;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 100%;
  z-index: 3;
}
#views_slideshow_cycle_teaser_section_bildspel-block .field-name-body {
  position: absolute;
  top: 180px;
  width: 100%;
}
#views_slideshow_cycle_teaser_section_bildspel-block .field-name-body p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  line-height: 140%;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
#views_slideshow_cycle_teaser_section_bildspel-block .field-name-body a {
  display: inline-block;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 900;
  padding: 3px 20px;
  margin: 0 15px;
  text-decoration: none;
}
#views_slideshow_cycle_teaser_section_bildspel-block .field-name-body a:hover {
  text-decoration: underline;
}
#views_slideshow_cycle_teaser_section_bildspel-block .field-name-body a.white-bg {
  background: #fff;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
#block-views-bildspel-block .slideshow-nav {
  position: absolute;
  bottom: 8px;
  z-index: 3;
  width: 100%;
  text-align: center;
}
#block-views-bildspel-block .slideshow-nav a {
  text-indent: -9999px;
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  background: #000;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
#block-views-bildspel-block .slideshow-nav a.activeSlide {
  background: #fff;
}

/* Paneler */
.panels-ipe-control input[type="submit"] {
  text-shadow: none;
  float: none;
}