/* This file will hold styles that are loaded using the same media query as the wide grid. */
body {
  min-width: 1046px !important;
}
body .container-24 {
  width: 1046px;
}
body .container-24 .grid-24 {
  width: 1046px;
}
/* Lila header */
#zone-user > .region > .region-inner {
  width: 1046px;
}
/* Vit header */
#block-logo-block-logo img {
  margin: 0;
}
#block-superfish-1 {
  display: inline-block;
  float: none;
  padding: 5px 0 0;
}
#block-superfish-1 ul li a{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  padding: 7px 8px;
  color: #fff;
}
#block-superfish-1 ul li a:hover {
  text-decoration: underline;
}
/* Nivå 1 */
#block-superfish-1 ul.menu > li > a {
  color: #a0a0a0;
  padding-bottom: 16px;
}
#block-superfish-1 ul.menu > li.menuparent > a {
  padding-right: 22px;
  background: transparent url(../images/gray_arrow_down.png) no-repeat right 11px;
}
/* Nivå 2 */
#block-superfish-1 ul.menu > li.menuparent > ul {
  top: 100%;
  background: #a0a0a0;
  padding: 10px 0;
}
#block-superfish-1 ul.menu > li.menuparent > ul > li > a {

}
#block-superfish-1 ul.menu > li.menuparent > ul > li.menuparent > a {
  padding-right: 12px;
  background: transparent url(../images/white_arrow_right.png) no-repeat 95% center;
}
/* Nivå 3 */
#block-superfish-1 ul.menu > li.menuparent > ul > li.menuparent > ul {
  background: #a0a0a0;
}
#block-superfish-1 ul.menu > li.menuparent > ul > li.menuparent > ul > li > a {

}
/* Bildspel herobild */
#block-views-bildspel-block {
  height: 652px;
}
#zone-branding .field-name-title-field {
  bottom: 358px;
}
#zone-branding .field-name-title-field > .field-items {
  width: 850px;
  margin: auto;
}
#zone-branding .page-title {
  font-size: 60px;
}
#views_slideshow_cycle_teaser_section_bildspel-block .field-name-body {
  top: 318px;
}
#views_slideshow_cycle_teaser_section_bildspel-block .field-name-body > .field-items {
  width: 850px;
  margin: auto;
}
#views_slideshow_cycle_teaser_section_bildspel-block .field-name-body p {
  font-size: 30px;
  padding-bottom: 60px;
}
#block-views-bildspel-block .views-slideshow-controls-bottom {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 4;
}
#block-views-bildspel-block .views-slideshow-controls-bottom .views-slideshow-controls-text {
  margin-top: -20px;
}
#block-views-bildspel-block .views-slideshow-controls-bottom .views-slideshow-controls-text > span {
  position: absolute;
}
#block-views-bildspel-block .views-slideshow-controls-bottom .views-slideshow-controls-text .views-slideshow-controls-text-pause {
  display: none;
}
#block-views-bildspel-block .views-slideshow-controls-bottom .views-slideshow-controls-text .views-slideshow-controls-text-previous {
  left: 64px;
}
#block-views-bildspel-block .views-slideshow-controls-bottom .views-slideshow-controls-text .views-slideshow-controls-text-next {
  right: 64px;
}
#block-views-bildspel-block .views-slideshow-controls-bottom .views-slideshow-controls-text > span a{
  display: block;
  width: 42px;
  height: 41px;
  background: transparent url(../images/header_slideshow_arrows.png) no-repeat left top;
  cursor: pointer;
}
#block-views-bildspel-block .views-slideshow-controls-bottom .views-slideshow-controls-text .views-slideshow-controls-text-next a {
  background-position: right top;
}
/* Vanliga sidor */
body.not-front #block-system-main .node.view-mode-full > .content > .field {
  width: 1046px;
}
body.not-front #block-system-main .node.view-mode-full > .content > .field-name-field-sidhuvud {
  margin-bottom: -150px;
}
body.not-front #block-system-main .node.view-mode-full > .content > .field-name-title-field {
  width: 100%;
}
body.not-front #block-system-main .node.view-mode-full .field-name-title-field > .field-items {
  width: 1046px;
}
body.not-front #block-system-main .node.view-mode-full .page-title {
  font-size: 48px;
  line-height: 120%;
}
body.not-front #block-system-main .node.view-mode-full > .content > .field-name-body {
  padding-top: 200px;
}
/* Paneler */
body .block .block-inner .node-panel {
  width: 1046px;
  margin: auto;
}
body .block .block-inner .panel-display {
  padding-top: 68px;
}
body .container-24 .grid-8 {
  width: 331px;
}
body .container-24 .top .panel-pane {
  padding: 0;
}
.panel-panel .node-subinnehall {
  padding-bottom: 50px;
}
body .container-24 .bottom {
  margin: 0 10px;
}
.panel-panel .node-page {
  padding-bottom: 83px;
}
.panel-panel .still-image-formatter-item .caption-wrapper .caption-text {
  font-size: 30px;
}
/* Nyhetsflöde på startsidan */
.region-postscript-first-inner #block-views-nyheter-block-3 {
  top: 71px;
  height: 322px;
}
.region-postscript-first-inner #block-views-nyheter-block-3 > .block-inner {
  width: 1046px;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .view-content > div {
  position: relative;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views_slideshow_slide .node > .user-picture-container {
  padding-right: 20px;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views_slideshow_slide .node > .content {
  width: 630px;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views_slideshow_slide .node .field-name-body {
  padding-bottom: 30px;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views_slideshow_slide .node .field-name-body p {
  line-height: 200%;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views-slideshow-controls-bottom {
  display: block;
  position: absolute;
  top: 110px;
  width: 100%;
  z-index: 3;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views-slideshow-controls-bottom .views-slideshow-controls-text {

}
.region-postscript-first-inner #block-views-nyheter-block-3 .views-slideshow-controls-bottom .views-slideshow-controls-text > span {
  position: absolute;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views-slideshow-controls-bottom .views-slideshow-controls-text .views-slideshow-controls-text-pause {
  display: none;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views-slideshow-controls-bottom .views-slideshow-controls-text .views-slideshow-controls-text-previous {
  left: -70px;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views-slideshow-controls-bottom .views-slideshow-controls-text .views-slideshow-controls-text-next {
  right: -70px;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views-slideshow-controls-bottom .views-slideshow-controls-text > span a {
  display: block;
  width: 32px;
  height: 32px;
  background: transparent url(../images/news_slideshow_arrows.png) no-repeat left top;
  cursor: pointer;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views-slideshow-controls-bottom .views-slideshow-controls-text .views-slideshow-controls-text-next a {
  background-position: right top;
}
.region-postscript-first-inner #block-views-nyheter-block-3 #news-slideshow-0-nav {
  display: none;
}
/* Sidfot */
.region-postscript-first-inner {
  padding-bottom: 80px;
}
#region-footer-first > .region-inner {
  padding-top: 100px;
}
#region-footer-first #block-nodeblock-230, 
#region-footer-first #block-views-enterprise-blog-block-2, 
#region-footer-first #node-subinnehall-231 {
  padding: 0 20px;
  float: left;
}
#region-footer-first #block-nodeblock-230 {
  width: 280px;
}
#region-footer-first #block-views-enterprise-blog-block-2 .views-row .views-field-title a {
  margin-left: 0;
}
#region-footer-first #block-views-enterprise-blog-block-2 {
  width: 330px;
  padding: 0 100px 0 30px;
}
#region-footer-first #block-superfish-4 {
  padding-top: 40px;
}