/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
body {
  min-width: 700px !important;
}
body .container-24 {
  width: 700px;
}
body .container-24 .grid-24 {
  width: 700px;
}
/* Lila header */
#zone-user > .region > .region-inner {
  width: 700px;
}
/* Vit header */
#block-superfish-1 {
  padding: 0 160px 0 48px;
}
/* Bildspel herobild */
#block-views-bildspel-block {
  height: 575px;
}
#zone-branding .field-name-title-field {
  bottom: 315px;
}
#zone-branding .page-title {
  font-size: 53px;
}
#views_slideshow_cycle_teaser_section_bildspel-block .field-name-body {
  top: 280px;
}
#views_slideshow_cycle_teaser_section_bildspel-block .field-name-body p {
  font-size: 27px;
  padding: 0 100px 90px;
}
/* Informationssidor */
body.node-type-page #block-system-main .node.view-mode-full > .content > .field {
  width: 700px;
  margin: auto;
}
body.node-type-page #block-system-main .node.view-mode-full > .content > .field-name-field-sidhuvud {
  width: 100%;
  text-align: center;
}
body.node-type-page.has-header-image #block-system-main .node.view-mode-full > .content > .field-name-field-sidhuvud {
  margin-bottom: -120px;
}
body.node-type-page #block-system-main .node.view-mode-full > .content > .field-name-title-field {
  width: 100%;
}
body.node-type-page #block-system-main .node.view-mode-full .field-name-title-field > .field-items {
  width: 700px;
  margin: auto;
}
body.node-type-page #block-system-main .node.view-mode-full .page-title {
  font-size: 30px;
  padding-left: 30px;
}
body.node-type-page.has-header-image #block-system-main .node.view-mode-full  > .content > .field-name-body {
  padding-top: 160px;
}
/* Formulärsidor */
body.node-type-webform #block-system-main .node.view-mode-full > .content > .field,
body.node-type-webform #block-system-main .node.view-mode-full > .content > .group-parent {
  width: 700px;
  margin: auto;
}
body.node-type-webform #block-system-main .node.view-mode-full > .content > .field-name-field-sidhuvud {
  width: 100%;
}
body.node-type-webform #block-system-main .node.view-mode-full > .content > .field-name-field-extra-textfalt {
  margin-top: -200px;
  padding-bottom: 60px;
}
body.node-type-webform #block-system-main .node.view-mode-full .field-name-field-extra-textfalt .field-items {
  padding-left: 370px;
}
body.node-type-webform #block-system-main .node.view-mode-full .group-1 {
  float: left;
  width: 330px;
}
body.node-type-webform #block-system-main .node.view-mode-full .webform-client-form {
  float: right;
}
body.node-type-webform #block-system-main .node.view-mode-full .webform-client-form .webform-component-markup h2 {
  font-size: 24px;
  padding-bottom: 20px;
}
body.node-type-webform #block-system-main .node.view-mode-full .webform-client-form > div {
  padding: 13px 16px 40px;
}
/* Nyhetslista & blogglista */
body.sidtyp-nyhetssida #block-system-main .node.view-mode-full .page-title,
body.sidtyp-bloggsida #block-system-main .node.view-mode-full .page-title {
  padding-left: 10px;
}
body.sidtyp-nyhetssida  #block-system-main .view-nyheter,
body.sidtyp-bloggsida  #block-system-main .view-enterprise-blog {
  margin: 0 -10px;
}
body.sidtyp-nyhetssida  #block-system-main .view-nyheter .col,
body.sidtyp-bloggsida  #block-system-main .view-enterprise-blog .col {
  width: 220px;
  padding: 0 10px;
}
body.sidtyp-bloggsida  #block-system-main .view-enterprise-blog .views-row .field-name-field-tags {
  padding: 0 5px 5px;
}
body.sidtyp-bloggsida  #block-system-main .view-enterprise-blog .views-row .field-name-field-tags:before {
  content: '';
  padding: 0;
}

/* Paneler */
body .block .block-inner .node-panel {
  width: 680px;
  margin: auto;
}
body .block .block-inner .panel-display {
  margin: 0 -10px;
  padding-top: 44px;
}
body .container-24 .top {
  width: 100%;
}
body .container-24 .grid-8 .panel-pane {
  min-height: 0;
}
body .container-24 .top .panel-pane {
  padding: 0 30px;
}
body .container-24 .bottom {
  margin: 0 6px;
}
.panel-panel .still-image-formatter-item .caption-wrapper .caption-text {
  font-size: 22px;
}
.panel-panel .node-page {
  padding-bottom: 73px;
}
/* Nyhetsflöde på startsidan */
.region-postscript-first-inner #block-views-nyheter-block-3 > .block-inner {
  width: 700px;
  height: inherit;
  margin: auto;
  position: relative;
}
.region-postscript-first-inner #block-views-nyheter-block-3 {
  top: 91px;
  height: 340px;
}
/* Sidfot */
#region-footer-first #block-nodeblock-230,
#region-footer-first #block-views-enterprise-blog-block-2,
#region-footer-first #block-nodeblock-231 {
  padding-left: 80px;
  padding-right: 30px;
}
#region-footer-first #block-nodeblock-230 {
  padding-bottom: 30px;
}
#region-footer-first .node-subinnehall .node-title {
  padding-bottom: 30px;
}
#region-footer-first #block-views-enterprise-blog-block-2 {
  padding-bottom: 40px;
}
#region-footer-first #block-views-enterprise-blog-block-2 .block-title {
  padding-bottom: 30px;
}
#region-footer-first #block-views-enterprise-blog-block-2 .views-row {
  padding-bottom: 30px;
}