/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/* Lila header */
#region-user-first #block-superfish-3 {
  display: block;
  padding: 7px 20px;
  float: right;
}
#region-user-first #block-superfish-3  ul.menu li a,
#region-footer-first #block-superfish-4 ul.menu li a {
  font-size: 16px;
}
#region-user-first #block-superfish-3 ul.menu li .language-switcher-select {
  margin-top: -6px;
  font-size: 16px;
}
.browser-firefox #region-user-first #block-superfish-3 ul.menu li .language-switcher-select {
  margin-top: -8px;
  padding-right: 13px;
}
#region-user-first #block-superfish-3 ul.menu li .language-switcher-select::-ms-expand {
  display: none;
}
#block-login-block-0 {
  display: none;
}

/* Vit header */
#region-user-second {
  padding: 40px 0 32px;
}
#superfish-1-select {
  background-image: url(../images/menu_icon_narrow.png);
  width: 48px;
  height: 38px;
}
/* Logo */
#block-logo-block-logo {
  width: 180px;
}
#block-logo-block-logo img {
  max-width: 180px;
  max-height: 38px;
}
/* Sociala länkar */
#block-block-3 {
  padding-top: 7px;
}
/* Login block */
#block-login-block-1 {
  display: block;
  float: right;
  padding: 7px 25px 0 7px;
}
#block-login-block-1 .login-link {
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #a0a0a0;
  text-decoration: none;
}
#block-login-block-1 .login-link:hover {
  text-decoration: underline;
}
/* Bildspel herobild */
#zone-branding,
#zone-branding > .region {
  width: 100%;
}
#zone-branding .page-title {
  padding: 0 70px;
}
#views_slideshow_cycle_teaser_section_bildspel-block .field-name-body p {
  line-height: 120%;
}
#views_slideshow_cycle_teaser_section_bildspel-block .field-name-body a {
  font-size: 18px;
  padding: 3px 40px;
}
#block-views-bildspel-block #slideshow-0-nav {
  bottom: 25px;
}
/* Informationssidor */
body.node-type-page #zone-content,
body.node-type-page #zone-content > .region {
  width: 100%;
  margin: 0;
}
body.node-type-page #block-system-main .node.view-mode-full > .content > .field {
  padding: 0;
}
body.node-type-page.has-header-image #block-system-main .node.view-mode-full > .content > .field-name-title-field {
  position: absolute;
}
body.node-type-page #block-system-main .node.view-mode-full > .content > .field-name-title-field > .field-items {
  padding: 0;
}
/* Formulärsidor */
/* Nyhetslista & blogglista */
body.sidtyp-nyhetssida  #block-system-main .view-nyheter .col,
body.sidtyp-bloggsida  #block-system-main .view-enterprise-blog .col {
  float: left;
}
body.sidtyp-nyhetssida #block-system-main .node.view-mode-full > .content > .field-name-field-view > .field-items,
body.sidtyp-bloggsida #block-system-main .node.view-mode-full > .content > .field-name-field-view > .field-items {
  padding: 0;
}
body.node-type-page #block-system-main .node.view-mode-full .view .field-name-title-field > .field-items {
  width: 100%;
}
/* Bildgalleri */
body.sidtyp-galleri #block-system-main .view-bildgalleri {
  margin: 0 -8px;
}
body.sidtyp-galleri #block-system-main .view-bildgalleri .views-row {
  float: left;
  padding: 0 8px 20px;
  height: 293px;
}
body.sidtyp-galleri #block-system-main .view-bildgalleri .views-row .field-name-field-bild .caption {
  padding: 15px 15px 0;
}
/* Nyhetsflöde på startsidan */
body.node-type-webform #zone-content,
body.node-type-webform #zone-content > .region {
  width: 100%;
}
#zone-postscript,
#zone-postscript > .region {
  width: 100%;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views_slideshow_slide .node > .user-picture-container {
  padding-right: 50px;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views_slideshow_slide .node .user-picture {
  width: auto;
  border-width: 8px 11px;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views_slideshow_slide .node > .content {
  width: 440px;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views_slideshow_slide .node .node-title {
  font-size: 30px;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views_slideshow_slide .node .field-name-body p {
  font-size: 18px;
  line-height: 150%;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views_slideshow_slide .node .field-name-field-submitted {
  display: inline-block;
  float: left;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views_slideshow_slide .node .field-name-field-submitted .field-item {
  font-size: 18px;
}
.region-postscript-first-inner #block-views-nyheter-block-3 .views_slideshow_slide .node .read-more {
  font-size: 18px;
}
/* Sidfot */
.region-postscript-first-inner {
  padding-bottom: 50px;
}
#region-footer-first #block-views-enterprise-blog-block-2 .views-row .views-field-title a {
  margin-left: -46px;
}
#region-footer-first #block-nodeblock-231 {
  padding-left: 0;
}
#region-footer-first #block-superfish-4 {
  text-align: center;
  padding-bottom: 10px;
}
#region-footer-first #block-superfish-4 ul.menu {
  display: inline-block;
  border-bottom: 1px solid #cccccc;
}
#region-footer-first #block-superfish-4 ul.menu li .language-switcher-select {
  margin-top: -1px;
  font-size: 16px;
}
.browser-firefox #region-footer-first #block-superfish-4 ul.menu li .language-switcher-select {
  margin-top: -3px;
  padding-right: 13px;
}
#region-footer-first #block-superfish-4 ul.menu li .language-switcher-select::-ms-expand {
  display: none;
}